name: Publish

on:
  push:
    branches:
      - main

jobs:
  deno-publish:
    name: Deno (JSR)
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v6
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.5.4

      - name: Check package
        run: deno check src/index.ts

      - name: Publish to JSR
        run: deno publish --allow-dirty
